@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap') * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --whitesmoke: #f9f9f9;
    --light-grey: #ECECEC;
    --grey: #c4c4c4;
    --medium-grey: #a7a7a7;
    --deep-grey: #343434;
    --black: #000000;
    --blue: #1b77f3;
    --red: #cf3c3f;

}


.label1 {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 480px;
    min-height: 50vh;
    background-color: #999;

}

.title {
    font-weight: 600;
    font-size: 2em;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 480px;
    min-height: 10vh;
    background-color: rgb(0, 0, 0);
    rgb(32, 32, 32)
}


}
}